html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Bebas Neue', sans-serif;
    height: 100%;
    width: 100%;
    background-color: skyblue;
    overflow: hidden;
}

.team-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.starting-players {
    height: 99%;
    width: 85%;
    background-image: url("../../img/terrain-rugby-compostion.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: calc(100% / 6);
}

.first-line {
    display: flex;
    flex-direction: column-reverse;
    gap: 10%;
}

.second-line {
    display: flex;
    flex-direction: column-reverse;
    gap: 10%;
}

.third-line {
    gap: 10%;
}

.hinge {
    gap: 5%;
    display: flex;
    flex-direction: column-reverse;
}

.backs {
    display: flex;
    flex-direction: column-reverse;
    gap: 5%;
}

.player-square {
    width: 60%;
    aspect-ratio:  1 / 1;
    height: auto;
    border: 3px dashed white;
    border-radius: 5px;
}

.no-border {
    border: none!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player-img {
    width: 120%;
    object-fit: cover;
}

.player-name {
    background-color: rgba(31,68,50,255);
    color: rgba(214,175,57);
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
    border: 0;
    padding: 2px 5px;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-button {
    margin-left: 2px;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.substitutes-container {
    height: 99%;
    width: 15%;
    text-align: center;
}

.substitutes-title {
    height: 5%;
    width: 100%;
    margin: 0;
}

.substitutes {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.substitutes-square {
    height: calc((100% / 7)/2);
    aspect-ratio:  1 / 1;
    width: auto;
    border: 3px dashed white;
    border-radius: 5px;
}

.substitutes-square.no-border {
    width: 100%!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.substitute-img {
    width: 45%;
    object-fit: cover;
}

.substitute-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.substitute-number-input {
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: rgba(31,68,50,255);
    color: rgba(214,175,57);
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    width: 2ch;
    padding: 2px 5px;
    text-align: center;
}

.substitute-name {
    border-radius: 0 5px 5px 0;
    background-color: rgba(31,68,50,255);
    color: rgba(214,175,57);
    padding: 2px 5px 2px 0px;
    font-size: larger;
    white-space: nowrap;

}

.player-list {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.player-list-title {
    margin: 0;
    padding: 0;
    height: 5%;
}

.player-search {
    border: 0;
    border-radius: 5px;
    height: 5%;
    text-align: center;
}

#player-list {
    height: 80%;
    margin: 2% 0 0;
}

.player-list ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.player-list li {
    margin-bottom: 5px;
}

 #export-button {
     height: 5%;
 }