body {
    /*min-height: 100vh;*/
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    justify-content: space-between;
    /*height: 100%;*/
    width: 100%;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.background {
    background-image: url("../../img/terrain-rugby-compostion.jpg");
    background-size: 100% auto; /* Agrandir légèrement l'image */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80%;
}

.joueurs-titulaires {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    height: 70%;
    width: 70%;

}

.ligne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


/* Ajustements spécifiques pour chaque ligne (maintenant des colonnes) */
.premiere-ligne {
    display: flex;
    flex-direction: column-reverse;
}

.deuxieme-ligne {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 25%;
}

.troisieme-ligne {
}

.charniere {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 15%;
}

.trois-quarts {
    display: flex;
    flex-direction: column-reverse;
    gap: 5%;
}

.arriere {

}

.player-square {
    width: 60%; /* Ou une valeur fixe en pixels si vous préférez */
    aspect-ratio: 1 / 1; /* Maintient le rapport 1:1 (carré) */
    height:auto;
    border: 3px dashed white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    font-size: larger;
    color : rgba(214,175,57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-square.no-border > img
{
    width: 100%;
}

.player-square span {
    display: inline-block;
    padding: 2px 5px;
    border-radius:5px;
    background-color: rgba(31,68,50,255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: larger;
    color: rgba(214,175,57);
    white-space: nowrap; /* Prevent line breaks */
}

.remplacants-container{
    display: flex;
    align-items: center;
    width: 80%;
    height: 20%;
}

.remplacants {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 5%;
}

.remplacants > .player-square {
    margin: 0;
    padding: 0;
    width: 10%;
    aspect-ratio: 1 / 1;
    border: 3px dashed white;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.remplacants > .player-square span {
    border-radius: 0 5px 5px 0;
}

.remplacants > .player-square.no-border {
    border: none;
    width: 20%;
    /*width: 100%;*/
}

.substitute-name
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.substitute-name > span {
    font-size: 70%;
}

.number-input{
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgba(31,68,50,255);
    border: 0;
    color: rgba(214,175,57);
    border-radius: 5px 0 0 5px;
}
















.player-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

#player-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-list h2 {
    margin-bottom: 10px;
}

.player-list ul {
    list-style: none;
    padding: 0;
}

.player-list li {
    margin-bottom: 5px;
}

.player-square img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.player-square.drag-over {
    border-color: green;
}

.player-square.no-border {
    border: none;
}

.delete-button {
    margin-left: 2px;
    margin-bottom: 2px;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}