<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <nav class="navbar">
        <a class="logo-container" href="/">
            <img src="{{ asset("img/logo-ardennes.png") }}" alt="Logo du club">
        </a>
        <ul class="nav-links">
            <li><a href="#">L'équipe</a></li>
            <li><a href="#">Matchs</a></li>
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    {# TODO: remove this and make something better #}
    <nav class="fake-navbar"></nav>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
